<div class="window-header">
    <h1>
        {{title}}
    </h1>
</div>

<div class="window-body" style="min-height: 80px;">
    {{message}}
</div>

<div class="window-footer">
    {{#each option in options}}
        <button {{bindAttr class=":button option.primary:primary option.warning:warning"}} {{action clickOption option}}>{{option.text}}</button>
    {{/each}}
</div>
